{% extends "base.html" %} {% block title %}Muxi-Book{% endblock %}
 {% block script %}{% block css %}
 <link rel="stylesheet" href="/static/css/login.css">
 {% endblock %}
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
        {% endblock %}
{% block content %}
        <div id="login"></div>
 {% endblock %}